

  
  body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .id {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100000px;
    box-shadow: 10px 5px 90px pink;
  }
  
  .square {
    background-color: rgb(108, 93, 93);
    box-shadow: 0 0 0px #000;
    height: 10px;
    width: 10px;
    margin: 2px;
    transition: 3s ease;
  }
  
  .square:hover {
    transition-duration: 0s;
  }